<h1 class="mb-4 text-center">My Account</h1>

<div class="container">
  <div class="card mb-4">
    <div class="card-body text-center">
      <h5 class="card-title">Welcome to your account page, <%= @user.name %>!</h5>
    </div>
  </div>
  
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title"><strong>Email:</strong> <%= @user.email %></h5>
      <p class="card-text"><strong>Account Created:</strong> <%= @user.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>
      <p class="card-text"><strong>Last Updated:</strong> <%= @user.updated_at.strftime("%B %d, %Y at %I:%M %p") %></p>

      <%= form_for(@user, url: user_registration_path, html: { method: :put, multipart: true }) do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :avatar %>
          <%= f.file_field :avatar, class: "form-control" %>
          <% if @user.avatar.present? %>
            <p>
              <%= image_tag(@user.avatar.url, class: "img-thumbnail mt-2", size: "150x150") %>
            </p>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.submit "Update Account", class: "btn btn-outline-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>



