<h1 class="mb-4 text-center">Journal Entry Details</h1>

<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><strong>Name:</strong> <%= @entry.name %></h5>
      <p class="card-text"><strong>Description:</strong> <%= @entry.journal_info %></p>
      <p class="card-text"><strong>Date Added:</strong> <%= @entry.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>
      <div class="d-flex justify-content-start mt-3">
        <div class="btn-group" role="group" aria-label="Actions">
          <%= link_to 'Back to Entries', journals_path, class: "btn btn-outline-primary d-inline-block" %>
          <%= link_to 'Edit', edit_journal_path(@entry), class: "btn btn-outline-primary d-inline-block" %>
          <%= button_to 'Delete', journal_path(@entry), method: :delete, data: { confirm: "Are you sure you want to delete this journal entry?" }, class: "btn btn-outline-primary d-inline-block delete-btn ml-2" %>
        </div>
      </div>
    </div>
  </div>
</div>


