<h1 class="mb-4 text-center">Training Resource Details</h1>

<div class="container">
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title"><strong>Title:</strong> <%= @training_resource.title %></h5>
      <p class="card-text"><strong>Link:</strong> <%= link_to @training_resource.link, @training_resource.link, target: "_blank" %></p>
      <p class="card-text"><strong>Commentary:</strong> <%= @training_resource.commentary %></p>
      <p class="card-text"><strong>Rating:</strong> <%= @training_resource.rating %> / 10</p>
      <p class="card-text"><strong>Tags:</strong> <%= @training_resource.job_tags.map(&:name).join(', ') %></p>
      <p class="card-text"><strong>Posted by:</strong> <%= @training_resource.user.name %></p>
      <% if @training_resource.user.avatar.present? %>
        <%= image_tag(@training_resource.user.avatar.url, class: "img-thumbnail mt-2", size: "50x50") %>
      <% end %>
      <div class="text-right mt-3">
        <%= link_to 'Edit', edit_training_resource_path(@training_resource), class: 'btn btn-outline-primary' %>
        <%= link_to 'Back to List', training_resources_path, class: 'btn btn-outline-secondary' %>
      </div>
    </div>
  </div>
</div>








